body {
  font-family: "Poppins", sans-serif !important;
}
.order-btn {
  background-color: #382ba5;
  color: #fff;
  padding: 13px 25px;
  border-radius: 10px;
  border: 2px solid #382ba5;
  transition: all 0.5s;
  font-size: 16px;
  text-transform: uppercase;
}
.order-btn:hover {
  background-color: transparent;
  color: #382ba5;
  border: 2px solid #382ba5;
}
.bag-btn {
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 5px 8px;
  border: none;
}
.bag-btn i {
  color: #382ba5;
  padding: 12px;
  font-size: 18px;
  transition: all 0.3s;
  border: 1px solid #fff;
}
.banner-bg {
  background: url("https://codewithsadee.github.io/fasteat/assets/images/hero-bg.png");
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav-link {
  transition: all 0.3s;
}
.nav-link:hover {
  color: #382ba5 !important;
}
.nav-link.active {
  color: #382ba5 !important;
  font-weight: 600;
}
.banner-txt h1 {
  font-size: 5rem;
  color: hsl(0, 0%, 21%);
  font-weight: 700;
  line-height: 5rem;
}
.banner-txt p {
  color: hsl(0, 0%, 47%);
  font-size: 1rem;
}
.order-btn1 {
  background-color: transparent;
  color: #382ba5;
  padding: 13px 25px;
  border-radius: 10px;
  border: 2px solid #382ba5;
  transition: all 0.5s;
  font-size: 16px;
  text-transform: uppercase;
}
.order-btn1:hover {
  background-color: #382ba5;
  color: #fff;
}
.how-works {
  text-align: center;
}
.how-works h1 {
  margin-top: 10px;
  color: hsl(0, 0%, 21%);
  font-size: 1.5rem;
  font-weight: 700;
}
.how-works p {
  color: hsl(0, 0%, 47%);
  font-size: 1rem;
}
.how-works h1 span {
  font-size: 2rem;
  color: hsl(0, 0%, 83%);
  padding-right: 5px;
}
.how-topic h1 {
  color: hsl(0, 0%, 21%);
  font-size: 3.5rem;
  font-weight: 700;
}
.how-topic p {
  color: hsl(0, 0%, 47%);
  font-size: 1rem;
}
.type-btn {
  background-color: transparent;
  border: 2px solid #382ba5;
  color: #382ba5;
  border-radius: 5px;
  transition: all 0.3s;
}
.type-btn:hover {
  background-color: #382ba5;
  color: #fff;
}
.stars i {
  color: #382ba5;
  font-size: 1.5rem;
}
.rest img {
  border-radius: 10px;
}
.rest h3 {
  margin: 10px 0;
  color: hsl(0, 0%, 21%);
  font-weight: 700;
}
.stars {
  margin: 10px 0;
}
.rest p {
  margin: 10px 0;
  color: hsl(0, 0%, 41%);
}
.hotels h1 {
  font-size: 3.5rem;
  color: hsl(0, 0%, 21%);
  font-weight: 700;
}
.hotels p {
  font-size: 1rem;
  color: hsl(0, 0%, 41%);
}
.food-bg {
  background: url("https://codewithsadee.github.io/fasteat/assets/images/hero-bg.png");
  background-position: center;
  background-size: cover;
}
.food-content h2 {
  color: hsl(0, 0%, 21%);
  font-size: 2.8rem;
  font-weight: 700;
}
.food-content p {
  color: hsl(0, 0%, 47%);
}
.service h3 {
  font-weight: 700;
  color: hsl(0, 0%, 21%);
}
.service-col {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 30px 4px hsla(0, 0%, 0%, 0.05);
  border-radius: 10px;
  text-align: center;
}
.service-type h3 {
  font-size: 3rem;
  color: #382ba5;
  font-weight: 700;
  margin-bottom: 0;
}
.service-type p {
  color: hsl(0, 0%, 47%);
  margin-bottom: 0;
}
.section-title h2 {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(0, 0%, 21%);
}
.swiper-button-next,
.swiper-button-prev {
  color: hsl(0, 0%, 21%) !important;
  background-color: #fff;
  box-shadow: 0 0 10px 1px hsla(0, 0%, 0%, 0.1);
  padding: 30px;
  border-radius: 50%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
}
.customer-review {
  padding: 0 100px;
  margin-top: 30px;
}
.dark-bgc {
  background-color: hsl(0, 0%, 21%);
}
.fig-border {
  outline: 7px solid #382ba5;
  border-radius: 15px;
  margin: 7px;
}
.subs {
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: -1px 15px 26px -4px hsla(0, 5%, 61%, 0.15);
  margin-block-end: 20px;
  outline: none;
  border: none;
  width: 75%;
}
.footer {
  background-color: hsl(0, 0%, 21%);
  color: hsl(0, 0%, 83%);
}
.footer h2 {
  color: hsl(0, 0%, 41%);
  font-size: 2rem;
  font-weight: 700;
}
.menu ul li {
  padding: 10px 0;
}
.menu ul li a {
  color: hsl(0, 0%, 83%);
  text-decoration: none;
  transition: all 0.3s;
}
.menu ul li a:hover {
  color: #382ba5;
}
.contacts ul li {
  padding: 10px 0;
}
.contacts ul li a {
  color: hsl(0, 0%, 83%);
  text-decoration: none;
  transition: all 0.3s;
}
.contacts ul li a:hover {
  color: #382ba5;
}
.white-bg {
  background-color: white !important;
  box-shadow: -1px 15px 26px -4px hsla(0, 5%, 61%, 0.15);
  z-index: 10;
  animation: slideIn 0.5s ease forwards;
}
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.subs:focus {
  border: 1px solid #382ba5;
}
.bag-btn:hover {
  border: 1px solid #382ba5;
}
/* [data-reveal] {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s ease;
}

[data-reveal="left"] {
  transform: translateX(-20px);
}

[data-reveal="right"] {
  transform: translateX(20px);
}

[data-reveal].revealed {
  opacity: 1;
  transform: translate(0);
} */
.reveal-right {
  animation: slide-right 2s forwards;
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.reveal-left {
  animation: slide-left 2s forwards;
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
#navbar {
  z-index: 10000;
}
